<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Trapezoidal Rule</title>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css">
    <style>
        body {
            height: 100vh;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
        }
        .container {
    max-width: 90%;
}
    </style>
</head>
<body class="overflow-hidden">
<div class="container">
    <h1 class="text-center mt-5">Trapezoidal Rule for Integration</h1>

    <div class="py-3 my-4 row">
        <form method="POST" class="col-sm-10 col-md-9 col-lg-4 m-auto mt-2">
            {% csrf_token %}
            <div class="mb-3">
                <label for="lower_limit" class="form-label fs-4">Lower imit</label>
                <input name="lower_limit" type="number" class="form-control fs-5" id="lower_limit" aria-describedby="lower_limit" value="0">
                <div id="lower_limit" class="form-text">Enter lower limit of integration.</div>
            </div>
            <div class="mb-3">
                <label for="upper_limit" class="form-label fs-4">Upper imit</label>
                <input name="upper_limit" type="number" class="form-control fs-5" id="upper_limit" aria-describedby="upper_limit" value="1">
                <div id="upper_limit" class="form-text">Enter upper limit of integration.</div>
            </div>
            <div class="mb-3">
                <label for="sub_interval" class="form-label fs-4">Number of sub intervals</label>
                <input name="sub_interval" type="number" class="form-control fs-5" id="sub_interval" value="7" max="1000000">
            </div>

            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
        <div class="col-12">
            <p class="m-50 text-center mt-5 fs-4">f(x)= ( 1 / (1 + x^2) )</p>
            <p class="m-50 text-center mt-5 fs-4">Integration result by Trapezoidal method is: {{ result|default_if_none:"-" }}</p>
        </div>
    </div>
</div>

<div class="container mb-0">
    <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
        <div class="col-md-4 d-flex align-items-center">
            <a href="/" class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1">
                <i class="bi bi-cloudy-fill fs-1"></i>
            </a>
            <span class="mb-3 mb-md-0 text-muted">© 2022 Company, Inc</span>
        </div>

        <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
            <li class="ms-3" title="Project on github">
                <a target="_blank" class="text-muted" href="https://github.com/tahaghazy/Trapezoidal_Rule">
                    <i class="bi bi-github fs-4"></i>
                </a>
            </li>
            <li class="ms-3" title="Source code">
                <a target="_blank" class="text-muted"
                   href="https://github.com/tahaghazy/Trapezoidal_Rule/blob/master/app/views.py#L1">
                    <i class="bi bi-code-slash fs-4"></i>
                </a>
            </li>
        </ul>
    </footer>
</div>
<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>